In [14]:
#importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pylab as pl
from sklearn.preprocessing import LabelEncoder
import xlrd

## Pre-Processing

In [15]:
#for the file to load, please upload the data file in the collab 
df = pd.read_excel('/content/S&P Analyst Test Data - Sections A and B (as applicable) (1).xlsx', 0)

In [16]:
new_header = df.iloc[2] #grab the first row for the header
df = df[3:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df

2,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_time
3,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42
4,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37
5,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13
6,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07
7,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35,300,Women's Apparel,0,0,0,2016-05-09 01:14:34
...,...,...,...,...,...,...,...,...,...,...,...,...
49998,952687116,47695125,Zombie Outbreak Response Team Skull fashion Me...,Within 5 Days fast shippingDelivery Time:715 W...,"{Size_L: 12.59, Size_M: 12.59, Size_XS: 12.59,...",12.59,700,Men's Wear,1,0,0,2018-03-02 11:30:55
49999,952687117,47695125,Zombie Outbreak Response Team Skull fashion Me...,Within 5 Days fast shippingDelivery Time:715 W...,"{Size_L: 12.59, Size_M: 12.59, Size_XS: 12.59,...",12.59,700,Men's Wear,1,0,0,2018-03-02 11:30:55
50000,952687118,47695125,Zombie Outbreak Response Team Skull fashion Me...,Within 5 Days fast shippingDelivery Time:715 W...,"{Size_L: 12.59, Size_M: 12.59, Size_XS: 12.59,...",12.59,700,Men's Wear,1,0,0,2018-03-02 11:30:55
50001,952687124,47695125,Zombie Outbreak Response Team Skull fashion Me...,Within 5 Days fast shippingDelivery Time:715 W...,"{Size_L: 12.59, Size_M: 12.59, Size_XS: 12.59,...",12.59,700,Men's Wear,1,0,0,2018-03-02 11:30:55
50002,952687119,47695125,Zombie Outbreak Response Team Skull fashion Me...,Within 5 Days fast shippingDelivery Time:715 W...,"{Size_L: 12.59, Size_M: 12.59, Size_XS: 12.59,...",12.59,700,Men's Wear,1,0,0,2018-03-02 11:30:55

## Question 1

In [17]:
#coversion to date time format for yera extraction
df['item_creation_time']= pd.to_datetime(df['item_creation_time'])

#finding all products created in 2018 
subset_df = df[df["item_creation_time"].dt.year == 2018]
subset_df

2,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_time
12,809446063,49082000,Women Lace Bra Bustier Crop Tops Soft Mesh Tri...,Material: Terylene Colors: BalckStyle: Sexy Br...,"{S: 9.98, M: 9.98, L: 9.98}",9.98,300,Women's Apparel,1,0,0,2018-01-05 16:08:24
13,809446145,49082000,Women Lace Bra Bustier Crop Tops Soft Mesh Tri...,Colors: BalckStyle: Sexy BraSize Type: Regular...,"{S: 11.48, M: 11.48, L: 11.48, XL: 11.48}",11.48,400,Women's Apparel,1,0,0,2018-01-05 16:08:26
14,809427287,49082000,Women Backpack Synthetic Leather Backpacks Sof...,Material: Synthetic LeatherLining: Polyester3 ...,"{Black: 17.66, Grey: 17.66, Red: 17.66}",17.66,300,Bags & Luggage,1,0,0,2018-01-05 16:02:41
15,809427305,49082000,Women Backpack Synthetic Leather Backpacks Sof...,Material: Synthetic LeatherLining: Polyester3 ...,"{Pink: 17.99, Black: 17.99, Grey: 17.99}",17.99,300,Bags & Luggage,1,0,0,2018-01-05 16:02:41
17,809446084,49082000,Women Floral Lace Sexy Comfortable Low Rise No...,"Material: LycraColor: Black, WhiteStyle: Sexy ...","{Black-XL: 8.32, White-S: 8.32, Black-S: 8.32,...",8.32,800,Women's Apparel,1,0,0,2018-01-05 16:08:25
...,...,...,...,...,...,...,...,...,...,...,...,...
49998,952687116,47695125,Zombie Outbreak Response Team Skull fashion Me...,Within 5 Days fast shippingDelivery Time:715 W...,"{Size_L: 12.59, Size_M: 12.59, Size_XS: 12.59,...",12.59,700,Men's Wear,1,0,0,2018-03-02 11:30:55
49999,952687117,47695125,Zombie Outbreak Response Team Skull fashion Me...,Within 5 Days fast shippingDelivery Time:715 W...,"{Size_L: 12.59, Size_M: 12.59, Size_XS: 12.59,...",12.59,700,Men's Wear,1,0,0,2018-03-02 11:30:55
50000,952687118,47695125,Zombie Outbreak Response Team Skull fashion Me...,Within 5 Days fast shippingDelivery Time:715 W...,"{Size_L: 12.59, Size_M: 12.59, Size_XS: 12.59,...",12.59,700,Men's Wear,1,0,0,2018-03-02 11:30:55
50001,952687124,47695125,Zombie Outbreak Response Team Skull fashion Me...,Within 5 Days fast shippingDelivery Time:715 W...,"{Size_L: 12.59, Size_M: 12.59, Size_XS: 12.59,...",12.59,700,Men's Wear,1,0,0,2018-03-02 11:30:55
50002,952687119,47695125,Zombie Outbreak Response Team Skull fashion Me...,Within 5 Days fast shippingDelivery Time:715 W...,"{Size_L: 12.59, Size_M: 12.59, Size_XS: 12.59,...",12.59,700,Men's Wear,1,0,0,2018-03-02 11:30:55

In [18]:
print("unique products that were created in the year 2018 = ", subset_df['itemid'].nunique() )

unique products were created in the year 2018 =  18023

## Question 2

In [19]:
# top 3 categories that have the greatest number of unique cross border products
un = df.loc[df['cb_option'] == 1]
un.drop_duplicates(subset=['itemid'])
un.groupby('category')['cb_option'].count().nlargest(3)

category
Women's Apparel            8590
Jewellery & Accessories    7522
Men's Wear                 5051
Name: cb_option, dtype: int64

## Question 3

In [20]:
# top 3 shops with highest revenue
df['Revenue'] = df['price'] * df['sold_count']
df.groupby('shopid')['Revenue'].sum().astype(float).nlargest(3)

shopid
845032      11214.0
4570022      6122.7
11298092     4200.0
Name: Revenue, dtype: float64

## Question 4

In [21]:
# duplicated listings within each shop


df["is_duplicate"] = df.duplicated(subset=['item_name','item_description', 'price', 'shopid'])
#df.loc[df['is_duplicate'] == True]
df

2,itemid,shopid,item_name,item_description,item_variation,price,stock,category,cb_option,is_preferred,sold_count,item_creation_time,Revenue,is_duplicate
3,1925574,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355333 selling...,{},400,1,Mobile & Gadgets,0,0,0,2015-10-01 00:24:42,0,False
4,1925617,210000,Golden mobile numbers,Unregistered prepaid cards1) 93355888 selling...,{},400,1,Mobile & Gadgets,0,0,0,2015-10-01 00:26:37,0,False
5,943600,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8,1,Mobile & Gadgets,0,0,0,2015-08-25 21:02:13,0,False
6,1064405,210000,Golden Mobile Numbers,Unregistered prepaid cards. Can port to post p...,{},8,1,Mobile & Gadgets,0,0,0,2015-08-30 20:16:07,0,False
7,20046620,760000,101% AUTHENTIC BASEBALL CAPS,"PREORDER Takes about 23 weeks to arrive, will ...","{NEWERA BLACK: 35.0, NIKE SWOOSH DENIM: 35.0, ...",35,300,Women's Apparel,0,0,0,2016-05-09 01:14:34,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49998,952687116,47695125,Zombie Outbreak Response Team Skull fashion Me...,Within 5 Days fast shippingDelivery Time:715 W...,"{Size_L: 12.59, Size_M: 12.59, Size_XS: 12.59,...",12.59,700,Men's Wear,1,0,0,2018-03-02 11:30:55,0.0,True
49999,952687117,47695125,Zombie Outbreak Response Team Skull fashion Me...,Within 5 Days fast shippingDelivery Time:715 W...,"{Size_L: 12.59, Size_M: 12.59, Size_XS: 12.59,...",12.59,700,Men's Wear,1,0,0,2018-03-02 11:30:55,0.0,True
50000,952687118,47695125,Zombie Outbreak Response Team Skull fashion Me...,Within 5 Days fast shippingDelivery Time:715 W...,"{Size_L: 12.59, Size_M: 12.59, Size_XS: 12.59,...",12.59,700,Men's Wear,1,0,0,2018-03-02 11:30:55,0.0,True
50001,952687124,47695125,Zombie Outbreak Response Team Skull fashion Me...,Within 5 Days fast shippingDelivery Time:715 W...,"{Size_L: 12.59, Size_M: 12.59, Size_XS: 12.59,...",12.59,700,Men's Wear,1,0,0,2018-03-02 11:30:55,0.0,True
50002,952687119,47695125,Zombie Outbreak Response Team Skull fashion Me...,Within 5 Days fast shippingDelivery Time:715 W...,"{Size_L: 12.59, Size_M: 12.59, Size_XS: 12.59,...",12.59,700,Men's Wear,1,0,0,2018-03-02 11:30:55,0.0,True

## Question 5

In [22]:
# duplicated listings that have less than 2 sold_count also save in a different excel file

result = pd.ExcelWriter('duplicated_listings.xlsx')
duplicated_listings = df.loc[(df['is_duplicate'] == True) & (df['sold_count'] < 2)]
duplicated_listings.to_excel(result)  

result.save()

## Question 6

In [24]:
# number of products that have more than 3 variations
count = len(set([item for item,variation in zip(df["itemid"], df["item_variation"]) if len(variation[1:-1].split(',')) > 3]))
print("Number of produces with item variations > 3:", count)

Number of produces with item variations > 3: 26401